$main-green: #53A069;
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
};
@mixin title-font { /* 타이틀 문구 미리 지정 */
    font-size: 22px;
    font-weight: 700;
}


a{
    all: unset !important;
    cursor: pointer !important;
    text-decoration: none !important;
}



// 날씨 알림창 (weather-box)
section.weather-box{
    margin: 50px auto 0;
    width: 1120px;
    display: flex;
    background-color: rgb(241, 241, 241);
    justify-content: space-evenly;
    padding: 17px 0;

    .title{
        flex-grow: 2;
        @include flex-center;
        @include title-font()
    }

    .weather{
        flex-grow: 2;
        border-left: 1px solid darkgray;
        @include flex-center;

        .day{
            h3{
                font-size: 22px;
                font-weight: 600;
                display: inline;
            }
            span{
                margin-left: 8px;
                color: gray;
            }
        } 
        .icon{
            margin-top: 15px;
            display: flex;
            align-items: center;
            font-size: 16px;
            
            i{
                color: #555555;
                scale: 1.4; 
                margin: 0 18px 0 10px;
            }
        }
        .temp{
            margin-left: 15px;
            border-radius: 10px;
            border: 1px solid darkgray;
            padding: 8px 13px;
            font-size: 18px;

            span:first-child{ color: blue; }
            span:last-child{ color: red; }
            hr{ margin: 4px 0; }
        }
    }
} // 날씨 weather-box END



// 오늘의 정보 진입 -> 날짜정보
section.info-box.weather{
    // background-color: lightcoral;
    margin: 50px auto 0;
    width: 100%;
    
    h1.title{
        width: 68%;
        margin: 0 auto;
        font-size: 2em;
        font-weight: 700;
    }

    //위치 선택 기능
    .location-tap{
        margin: 20px auto 0;
        width: 70%;
        @include flex-center();
        
        .title{ 
            margin-top: 2px;
            min-width: 80px; 
            font-weight: 900; 
            font-size: 1.1em;
            svg{ font-size: 1.8em; margin-bottom: 3px;}
        }
    }

    //날씨 출력 화면
    .weather-screens{
        margin: 50px auto;
        width: 60%;
        min-width: 305px; max-width: 800px;

        .today{
            margin: 0 auto;
            width: 100%;
            @include flex-center();

            .text{
                flex: 1;
                margin-top: 20px;
                margin-left: 15%;
                font-family: 'Pretendard-Regular';

                h6.place{
                    color: brown;
                    font-size: 0.9em;
                    font-weight: 600;
                    svg{
                        font-weight: 300; 
                        margin-bottom: 3px;
                    } 
                }
                h4.temp-on{ 
                    margin-top: 3px;
                    font-weight: 800;
                    font-size: 3em;
                }
                h5{
                    margin: 7px 0 0 5px;
                    font-size: 1.3em;
                }

            }
            .icon{
                flex: 1;
                svg{ 
                    margin: 0 auto;
                    font-size: 180px;
                    color: skyblue;
                }
            }
        } // .today END

        .D1-D2{
            margin-top: 60px;

            .D1, .D2{
                
                margin: 20px auto;
                padding: 10px 20px 8px;
                
                border-radius: 30px;
                background-color: white;
                box-shadow: 2px 2px 6px rgba($color: #000000, $alpha: 0.4);

                display: flex;
                align-items: center;

                p{ margin: 0 5px; }

                .Num-date{
                    flex: 1;
                    color: darkgray;
                }
                .kor-date{
                    flex: 4;
                    color: gray;
                    font-weight: 700;
                    font-size: 1.1em;
                    padding-top: 2px;
                }
                .icon-date{
                    flex: 1;
                    color: $main-green;
                    text-align: right;
                    display: flex;
                    justify-content: center;
                    svg:nth-child(1){margin-right: 15px;}
                }   
                .text-date{
                    flex: 2;
                    color: #717171;
                    text-align: right;
                    // span:first-child{color: rgb(146, 39, 39);}
                    // span:last-child{color: rgb(36, 36, 156);}
                }
            }
        } // .D1-D2 END
    }








}





