$main-green: #53A069;

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
};


@mixin green-btn {
    background-color: $main-green !important;
    height: 56px;
    font-size: 1rem !important;
}

.menu-title {
    display: block;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    padding-top: 50px;
}

.topic-box{ //말머리란 박스
    margin-right: 10px;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input { //글작성 말머리란
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input { //글작성 입력란 & 제목란
    padding-top: 13px !important;
    padding-bottom: 13px !important;
    min-width: 500px !important;
}


.css-1869usk-MuiFormControl-root {
    margin: 0 3px !important;
}

.css-wjh20t-MuiPagination-ul {
    margin-top: 50px !important;
    justify-content: center !important;
}
.board-selected{
    margin-right: 15px !important;
}
.search-input-box{ // List 검색 입력란&버튼 박스
    @include flex-center();
    
    
    .searchBtn {
        @include green-btn;
        height: 100%;
        margin-left: 15px;
    }
}

//글 목록 테이블
table {
    text-align: center;
    
    .notice-box { //공지 게시글
        border-radius: 10px;
        border: 1px solid red;
        width: 70px;
        text-align: center;
        background-color: rgba(255, 0, 0, 0.13);
        margin: 0 auto;
    }

    .td-title {
        text-align: left;
        cursor: pointer;
    }
    tr:hover{ //마우스 올려놓으면 배경색+제목 굵은효과
        background-color: rgb(240, 240, 240);
        .td-title{
            font-weight: 700;
        }
    }

    td.td {
        background-color: inherit;
    }

}

.pageChange-box{ //글번호 박스
    width: fit-content !important;
    margin: 30px auto 0 !important;
}

textArea { //글 작성 텍스트에리어
    border: 1px solid lightgray;
    width: 700px;
    height: 350px;
    resize: none;
    margin-top: 20px;
    padding: 10px 15px;

    
        input {
            height: 350px;
            width: inherit !important;
            justify-content: start;
            align-content: start;
            vertical-align: top;
            width: 700px;
            font-size: 1rem;
            font-weight: 200;
            line-height: 1.5;
            padding: 12px;
            border: none;
        }
    
        @media (min-width: 770px) {
            width: 700px;
        }
    
    
  }

textArea:hover {
    outline : white;
  }

textArea:focus {
    outline: white;
}

.registBtns {
    display: flex;

    button {
        width: 200px;
        margin: 0 20px;
        text-decoration: none;
        color: white;
    }
}

.regist-btn-div {
    display: flex;
    justify-content: end;

    .regist-btn {
        @include green-btn;
        
        height: 35px;
        margin: 70px 30px 0 0;
        position: absolute;
    }
}


.cateTitle {
    display: flex;
    padding-left: 20px;
    margin-top: 80px;
    font-size: 1.6em;

    div.category {
        margin-right: 5px;
        font-weight: bold;
    }
}


.info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 90px;
    font-size: 1.1em;
    vertical-align: baseline;


    .writerInfo {
        display: flex;
        align-items: center;;

        div.writer {
            margin-right: 15px;
        }

        div.regDate {
            font-size: 0.8em;
            margin-right: 30px;
        }

        .delete-board-btn, .modify-board-btn {
            width: 55px;
            background: none;
            border: 1px solid gainsboro;
            border-radius: 5px;
            padding: 7px 0px;
            margin-right: 10px;
            cursor: pointer;
        }
    }

    .view-reply {
        @include flex-center();
        .view-count {  margin-right: 15px; }
    }
}

.content {
    padding: 50px;
    height: 500px;
    font-size: 1.3em;
    cursor: default;
}

.reply-box {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    position: relative;

    .reply-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px 0;
        padding: 15px 20px 7px;
        background-color: rgb(245, 245, 245);
        border-radius: 5px;

        .reply-info-top{
            display: flex;
            justify-content: space-between;

            .user-nick {
                font-weight: bold;
                margin-right: 8px;
            }
            .reg-time {
                font-size: 0.8em;
            }

            button {
                background: none;
                border: none;
                padding: 0;
                margin-right: 10px;
                color: inherit;
                cursor: pointer;
                outline: inherit;
        
            }
        }
        .reply-content{
            margin: 10px 0;
            .reply-input-box{
                text-indent: 2px;
                padding-top: 3px;
                padding-bottom: 3px;
            }
        }
        

    }

    .reply-content {
        margin-top: 25px;
        margin-bottom: 20px;
    }
}

.reply-regist-box {
    max-width: 1000px;
    margin: 20px auto;
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 10px;

    input.reply-content {
        margin-top: 15px;
        border: none;
        width: 80%;
        padding: 7px 0;
        text-indent: 3px;
    }

    button {
        margin-right: 15px;
        background: none;
        border: none;
        padding: 0;
        color: inherit;
        cursor: pointer;
        outline: inherit;
    }

    .regist-user-nick {
        font-weight: bold;
    }

    .reply-content-box {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}





.nick-time { margin-bottom: 10px; }


.margin-div { margin-bottom: 25px; }
