$main-green: #53A069;

@mixin green-btn {
    background-color: $main-green !important;
    height: 56px;
    font-size: 1rem !important;
}
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
};




/* SnsRegist */
.modal-content{

    .container{ padding: 0; }
    background : rgb(255, 255, 255);

    position : fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 400px;
    width: 400px;
    height: 500px;
    border: 2px solid $main-green;
    padding: 0px !important;

    .sns-regist-form{
        width: 400px;
        @include flex-center();
        flex-flow: column;

        h2{
            font-size: 1.2em;
            margin: 45px auto;
            font-weight: bold;
            color: $main-green;
        }

        .image-content{
            width: 100%;
            margin: 0 auto 20px;

            label{
                max-width: 380px;
                width: 100%;
                overflow: hidden;

                margin: 0 auto;
                @include flex-center();
                img{
                    height: 200px;
                }
            }
        }

        .regist-content { //내용, 해시태그 박스
            

            > div {
                width: 300px;
                display: flex;
                justify-content: flex-end;

                label {
                    width: 70px;
                    text-align: right;
                    margin-top: 6px;
                }
                input {
                    width: 100%;
                    height: fit-content;
                    padding: 3px 0;
                    margin-left: 8px;
                    text-indent: 4px;
                }
                // .content-box{
                //     margin: 0px;
                //     width: 100%;
                //     height: fit-content;
                //     margin-left: 8px;
                //     text-indent: 4px;
                // }
            }
        }
        .sns-btn{
            display: flex;

            width: fit-content;
            border-radius: 10px;

            padding: 5px 15px;
            margin-top: 10px;
            
            .regist-btn {  //등록, 취소 버튼
                background-color: $main-green;
                color: white;
                border: none;
                margin-right: 10px;
            }
            .exit-btn {
                background-color: white;
                color: $main-green;
                border: 1px solid $main-green;
            }
        }
    }
}



/* snsList */
.user-profile {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 50px;

    .profileImg {
        width: 100px;
        height: 100px;
        margin: 0 50px;
    }

    .user-nick {
        margin-right: 100px;
        font-weight: 700;
    }
}

.line {
    width: 1200px;
    height: 2px;
    background-color: gainsboro;
    margin: 0 auto 50px;
}



/* sns등록 모달 */
.modal-btn, .moveToMy-btn {
    height: 50px;
    padding: 10px;
    border: 2px solid $main-green;
    color: $main-green;
    background-color: rgb(248, 243, 243);
    border-radius: 10px;
    font-weight: 700;
    margin-right: 10px;
}

.modal-btn:hover, .moveToMy-btn:hover {
    background-color: #53a0698d;
    color: white;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.567); /* 블러 처리할 색상과 투명도 조절 */
    backdrop-filter: blur(5px); /* 블러 효과 적용 */
}


.sub-title {
    display: block;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 30px;
    text-align: center;
}

.sns-list {
    width: 972px;
    margin: 20px auto;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;


    li{
        margin: 10px 5px 20px;
        border: 1.2px solid rgb(219, 219, 219);
        border-radius: 5px;
        overflow: hidden;

        .sns-text{
            padding: 13px 15px 15px;

            span{ // 작성자
                color: $main-green;
                font-weight: bold;
                svg{
                    font-size: 0.9em;
                    margin-bottom: 3px;
                    margin-right: 4px;
                }
            }
            p{ // 본문
                margin-top: 5px;
                text-indent: 3px;
            }
        }
        img {
            width: 230px;
            height: 230px;
        }
        &:hover {cursor: pointer;}
    }

}


/* sns detail 모달 */
.modal-detail {
    background : rgb(255, 255, 255);

    position : fixed; 
    top: 50%; left: 50%; transform: translate(-50%, -50%);
    
    width:550px;
    border: 2px solid $main-green;
    .sns-detail-box{
        padding: 20px;

        .top-of-modal {
            display: flex;
            justify-content: space-between;

            margin-bottom: 30px;
        
            .moveTo-btn{ //유저 홈 방문하기 버튼
                margin-left: 5px;
                font-size: 1em;
                width: fit-content;
                .write-link-btn{
                    padding: 2px 10px;
                    font-weight: 400;
                    font-size: 14px;
                }
            }
            .close-btn {
                border: none;
                background-color: white;
                font-weight: 700;
                font-size: 1.2em;
            }
        }
    }
}


ul.sns-detail-list { 
    display: flex;
    align-items: center;

    flex-direction: column;

    li {
        margin-bottom: 10px;

        frame{
            width: 480px; 
            max-height: 480px;
            overflow: hidden;

            img {
                width: 100%;
                
            }
        }

        .hashtags { //해시태그
            display: flex;
            margin: 10px 5px 5px 0px;
            font-size: 0.84em;
            .hash-box{
                background-color: lightgreen;
                color: gray;
                margin-right: 10px;
                padding-left: 10px;
            }
            p {
                color: $main-green;
                font-style: italic;
                margin-right: 5px;
            }
        }

        p.sns-content { //내용
            padding-left: 10px;
            margin-top: 20px;
            text-indent: 3px;
        }
        em{ //작성일
            display: block;
            margin-top: 20px;

            text-align: right;
            font-size: 0.8em;
            color: darkgray;
        }

        //sns user detail 페이지만 따로 수정하기
        &.sns-user-li { 
            min-height: 300px; //혹시나 이상한 사진 들어옴 방지
            border-radius: 20px;
            box-shadow: 3px 3px 15px darkgray;
            overflow: hidden;

            font-size: 1.1em;

            margin-bottom: 70px;

            frame{
                width: 540px;
                max-height: 540px;
            }

            .sns-text-box{
                padding: 0px 10px 20px;

                .hashtags { //해시태그
                    margin-top: 15px;

                    .hash-box{
                        background-color: lightgreen;
                        padding-left: 20px;
                        margin-right: 15px;
                    }
                    p {
                        margin-right: 5px;
                    }
                }
            }
        }
    }// li END
}



/* SnsUserDetail */
.user-title {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;

    .profileImg {
        width: 100px;
        height: 100px;
        margin-right: 20px;
    }

    .user-nick {
        display: block;
        font-weight: bold;
        text-align: center;
        font-size: 1.2em;
    }
}
p.sns-content { //내용
    padding-left: 10px;
    margin-top: 20px;
    text-indent: 3px;
}



