// @import '~bootstrap/scss/bootstrap';

$main-green: #53A069;
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
};
@mixin title-font { /* 타이틀 문구 미리 지정 */
    font-size: 22px;
    font-weight: 700;
}


.container.home{
    display: block;
}
a{
    all: unset !important;
    cursor: pointer !important;
    text-decoration: none !important;
}



// 날씨 알림창 (weather-box)
section.weather-box{
    margin: 50px auto 0;
    width: 1120px;
    display: flex;
    background-color: rgb(241, 241, 241);
    justify-content: space-evenly;
    padding: 17px 0;

    .title{
        flex-grow: 2;
        @include flex-center;
        @include title-font()
    }

    .weather{
        flex-grow: 2;
        border-left: 1px solid darkgray;
        @include flex-center;

        .day{
            h3{
                font-size: 22px;
                font-weight: 600;
                display: inline;
            }
            span{
                margin-left: 8px;
                color: gray;
            }
        } 
        .icon{
            margin-top: 15px;
            display: flex;
            align-items: center;
            font-size: 16px;
            i{
                scale: 1.4; 
                margin: 0 18px 0 10px;
            }
        }
        .temp{
            margin-left: 15px;
            border-radius: 10px;
            border: 1px solid darkgray;
            padding: 8px 13px;
            font-size: 18px;

            span:first-child{ color: blue; }
            span:last-child{ color: red; }
            hr{ margin: 4px 0; }
        }
    }
} // 날씨 weather-box END



section.button-box{
    margin-top: 50px;
    @include flex-center();
    text-align: center;
    color: white;

    *{
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.07em;
        background-color: $main-green;
        width: 135px; 
        height: fit-content;
        border-radius: 8px;
        
        padding: 11px 4px 10px;
        margin: 0 14px;
    }
} // button-box END


section.small-board{

    margin-top: 100px;

    h2{ margin: 0 0 20px 180px; @include title-font() } 

    .mini-table{
        width: 1040px;
        margin: 0 auto;
        font-size: 17px;

        tr{ line-height: 20px; } //게시판 높이 조정
        th{ 
            border-bottom: 1px solid rgb(61, 61, 61);
            font-size: 1.2em;
            font-weight: 700;         
            text-align: center;
        }
        td {
            border-bottom: 0.5px solid $main-green;
            // &:nth-child(n+3), &:nth-child(1){ text-align: center; }
            &:nth-child(2){ text-align: left; text-indent: 5px;}
        }
    
        .notice{ //공지의 경우
            td{ background-color: rgb(238, 238, 238); }
            td:nth-child(-n+2){
                color: red;
                font-weight: 700;
            }
        } 
    }
}


section.small-snsBoard{

    margin: 100px auto 0;


    h2{ margin: 0 0 50px 180px; @include title-font() }
    .img-list{
        
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        figure{
            margin: 0 20px;
            height: 100%;
            display: flex;
            flex-flow: 5;
            width: 250px; height: 250px;
            overflow: hidden;

            // &:first-of-type{ width: 220px; height: 220px; }
            // &:last-of-type{ width: 220px; height: 220px; }

            .carousel-img{
                height: 250px; width: 100%;
                background-color: aqua;
            }

            
        }
        .arrow{
            margin: 0 35px;
            flex-flow: 1;
            scale: 2.5;
            cursor: pointer;
            color: orange;
            &:first-child{ rotate: -90deg; }
            &:last-child{ rotate: 90deg; }
        }
    }    
}




section.small-market{

    margin: 100px auto 0;

    h2{ margin: 0 0 50px 180px; @include title-font() }

    .market-group{
        margin: 0 auto;
        width: 1040px; // 이미지 하나당 240 + 마진 20 = 260*4 = 1040px
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        .market-img{
            margin: 0 10px 20px;

            width: 240px; height: 240px;
            
            display: flex;
            align-items: center;
            overflow: hidden;
            flex-direction: column;

            figure{
                height: 160px;
                border-radius: 10px;
                overflow: hidden;
                img{
                    margin: 0 auto;
                    height: 100%; 
                }
            }
            .product{
                margin-top: 15px;
                width: 100%;

                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 3px;

                p{
                    height: fit-content;
                    color: gray;

                    strong{
                        font-size: 1.4em;
                        font-weight: 700;
                        color: black;
                        margin-bottom: 8px;
                        display: inline-block;
                    }
                }
                .price{
                    font-size: 1.2em;
                }
            }
        
        
        
        }
    }


}