$main-green: #53A069;
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
};
@mixin title-font { /* 타이틀 문구 미리 지정 */
    font-size: 22px;
    font-weight: 700;
}


a{
    all: unset !important;
    cursor: pointer !important;
    text-decoration: none !important;
}

h1{
    margin: 100px 0 50px 80px;
    font-size: 28px;
}

// MarketList START
.container.market{
    display: block;

    h1{ font-weight: 900; }
    .market-list{
        margin: 0 auto;
        width: 100%; 
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        .market-img{ //사진+상품설명 전체 한 칸
            margin: 0 15px 40px;
            padding: 10px 10px 0;
            box-sizing: content-box; //padding을 적용시키기 위함

            width: 240px; height: 240px;
            
            display: flex;
            align-items: center;
            flex-direction: column;

            cursor: pointer;
            transition: 0.3s;


            figure{ //사진 영역
                height: 160px;
                width: 240px;
                border-radius: 5px;
                overflow: hidden;
                transition: 0.3s;
                @include flex-center();
                img{
                    border-radius: 5px;
                    margin: 0 auto;
                    height: 100%;
                    transition: 0.3s;
                }
            }
            .product{ //상품 설명 영역
                margin-top: 15px;
                width: 100%;

                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 3px;

                p{ // 상품 판매자
                    height: fit-content;
                    color: gray;
                    strong{ // 상품명
                        font-size: 1.4em;
                        font-weight: 700;
                        color: black;
                        margin-bottom: 8px;
                        display: inline-block;
                    }
                }
                .price{ font-size: 1.2em; } //가격 폰트크기
            }

            &:hover{ //마우스 호버 시 반응
                box-shadow: 2px 3px 15px lightgray;
                border-radius: 20px;
                scale: 1.07;
            }
            &:hover figure, &:hover figure img{
                border-radius: 10px;
            } //마우스 호버 시 반응 END
        }
    }
}
// MarketList END


// MarketRegist START
.container.market-regist{

    .write{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        
        .MuiButton-root{ display: block;}
        .write-image{
            width: 500px;
            background-color: lightgrey;
            margin-left: 50px;
            cursor: pointer;

            .add-file{
                @include flex-center();
                overflow: hidden;
                width: 100%;
                height: 500px;
                img{ width: 100%;}
            }
        }
        .write-content{
            margin-right: 50px;
            margin-left: 30px;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 90%;
            

            .answer-content{ //각각 input 박스 조절
                display: flex;
                justify-content: left;
                align-items: center;
                font-size: 20px;
                margin-bottom: 20px;
                width: 100%;
                
                .list-title{ //소제목
                    margin-right: 22px;
                    width: 90px;
                    text-align: end;
                    font-weight: 700;
                }
                .answer-box{ //입력 박스          
                    font-family: 'SUITE-Regular';
                    width: 95%;
                    font-size: 1.2em;
                    letter-spacing: 0.05em; 

                    &[disabled]{ 
                        background-color: rgb(221, 221, 221);
                        border-top-left-radius: 7px;
                        border-top-right-radius: 7px;
                        padding-top: 7px;
                    }
                    input{
                        // border-left: 5px double yellow;
                        // border-style: dotted;
                        // border-top-left-radius: 3px;
                        text-indent: 3px;
                    }
                }
            } // 박스 잡기 END   
        } // .write-content END
    } // .write END
    
    .btn-center{
        @include flex-center();
        #regist-btn{ //등록하기 버튼
            font-family: 'SUITE-Regular';
            width: 120px;
            margin-top: 50px;
            font-weight: 600;
        }
    }
}
// MarketRegist END



// MarketDetail START
.container.market-detail{
    width: 100%;

    .content{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        .content-img{ //상품 이미지
            width: 500px;
            article{
                width: 360px;
                height: 500px;
                background-color: lightgrey;
                margin-left: 50px;
                overflow: hidden;
    
                img{
                    @include flex-center();
                    height: 100%;
                }
            }
        }
        .content-content{
            margin-left: 50px;
            min-width: 50%;
            width: fit-content;

            .green-btn[disabled]{
                font-weight: 500;
                height: fit-content;
                padding: 0 15px;
                color: white;
                font-family: 'SUITE-Regular';
            }

            .title{ //상품명, 등록일
                margin-top: 15px;
                width: 85%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                strong{
                    font-weight: 900;
                    font-size: 2em;
                }
                span{ 
                    color: darkgray;
                    margin-right: 20px;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
            .score{ //별점
                display: flex;
                align-items: center;
                margin-top: 8px;
                span{
                    span{ //별이 다섯개~~
                        @include flex-center();
                        scale: 1.08;
                    }
                }
                em{
                    margin-left: 10px;
                    color: blue;
                    text-decoration: underline;
                }
            }
            .from{ //판매자 & 원산지
                line-height: 1.4em;
                margin-top: 30px;
                color: gray;
            }
            .text{ //상품설명
                margin-top: 10px;
                background-color: rgb(241, 241, 241);
                max-width: 85%;

                p{
                    width: 100%;
                    padding: 15px 17px;
                    em{
                        height: fit-content;
                        color: gray;
                        font-size: 1.1em;
                    }
                    span{ //등록일
                        margin-top: 10px;
                        display: block;
                        text-align: end;
                    }
                }
            }
            .price{ //가격
                margin-top: 50px;
                line-height: 1.7em;
                strong{
                    font-size: 1.7em;
                    font-weight: 900;
                }
                p{
                    color: red;
                }
            }
            .btn-center{
                width: 85%;
                @include flex-center();
                #buy-btn{ //등록하기 버튼
                    width: 130px;
                    height: fit-content;
                    margin-top: 30px;
                    font-weight: 600;
                }
            }

        }



    }




}
// MarketDetail END






