$main-green: #53A069;
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
};
@mixin title-font { /* 타이틀 문구 미리 지정 */
    font-size: 22px;
    font-weight: 700;
}

.container.market-list{
    display: block;
}
a{
    all: unset !important;
    cursor: pointer !important;
    text-decoration: none !important;
}

h1{
    font-size: 22px;
    font-weight: 700;
}


















