$main-green: #53A069;
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
};
@mixin title-font { /* 타이틀 문구 미리 지정 */
    font-size: 22px;
    font-weight: 700;
}


a{
    all: unset !important;
    // cursor: default !important;
    text-decoration: none !important;
}

.market-img{ //사진+상품설명 전체 한 칸
    margin: 0 15px 40px;
    padding: 10px 15px 15px;
    box-sizing: content-box; //padding을 적용시키기 위함
    width: 220px; height: 220px;
    
    display: flex;
    align-items: center;
    flex-direction: column;

    transition: 0.2s;
    cursor: pointer;
    
    .market-box{ 
        padding: 0 10px;
        position: relative;
        // box-sizing: border-box;

        figure{ //사진 영역
            padding: 0 5px;
            height: 160px;
            width: 230px;
            border-radius: 5px;
            overflow: hidden;
            transition: 0.3s;
            @include flex-center();
            img{
                border-radius: 5px;
                margin: 0 auto;
                transition: 0.3s;
                height: 100%;
                // width: 100%;
                object-fit: cover;
            }
        }
        .green-btn[disabled]{ //판매 여부 버튼 영역
            height: fit-content;
            padding: 0 15px;
            // border-bottom: 3px double rgb(184, 184, 184);
            border-bottom: 1px solid rgb(184, 184, 184);
            
            position: absolute;
            right: 0px;
            top: 10px;
            
            color: white;
            font-weight: 600;
            font-family: 'SUITE-Regular';

            &.red{ background-color: orangered !important; }
        }
        .product{ //상품 설명 영역
            margin: 15px 0px 5px;
            width: 98%;
           
            padding: 0 3px;
    
            strong{ // 상품명 강조
                font-size: 1.25em;
                font-weight: 700;
                color: black;
                margin-bottom: 8px;
                display: inline-block;
            }
            
            .product-bottom{
                height: fit-content;
                color: gray;
                
                display: flex;
                justify-content: space-between;
                align-items: center;
                svg{ margin: 0 4px 4px 2px; font-size: 1.4em;}
            }
            .price{ font-size: 1.1em; } //가격 폰트크기
        }
    }


    &:hover{ //마우스 호버 시 반응
        box-shadow: 2px 3px 13px rgb(218, 218, 218);
        border-radius: 7px;
        scale: 1.07;
    }
    &:hover figure, &:hover figure img{
        border-radius: 10px;
    } //마우스 호버 시 반응 END
}










