
h1.payment-title{
  font-weight: 700;
  margin-bottom: 30px !important;
}


.payment{ //결제 진행 중 컨테이너
  .product-info{
    margin-left: 50px;
  }
  label{
    margin-top: 10px;
    margin-left: 50px;
  }
  .link-box{
    margin: 20px auto 0;
    border-radius: 5px;
    width: fit-content;
    font-family: 'SUITE-Regular' !important;
    & > { color: white; }
  }
}

.payment-result{ //결제 성공or실패 시 컨테이너
  h1.payment-title { 
    font-weight: 700 !important;
    margin: 60px auto 40px !important;
    text-align: center;
  }
  .result-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    width: fit-content;
    min-width: 300px;

    border-radius: 10px;
    box-shadow: 2px 2px 11px rgb(197, 197, 197);
    
    padding: 40px 50px;
    margin: 0 auto 30px;
    .result-text{ 
      margin: 10px 0;
      font-size: 1.2em;
      font-weight: 600;
    }
    div{ margin: 10px 0; } 
  }
  .link-box{ //마켓으로 돌아가기 버튼
    width: fit-content;
    border: 1px solid rgb(138, 138, 138);
    border-radius: 5px;
    margin: 30px auto 0;
    padding: 2px 5px;
    font-family: 'SUITE-Regular' !important;
  }
}